<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vtewe.helloworld">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Act_SportButtons"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Act_ConstraintTest"
            android:label="@string/title_activity_constraint_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Act_Slider"
            android:label="@string/title_activity_act__slider"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Act_DragableStar"></activity>
    </application>

</manifest>